name: Lab 05 - Python
on:
  push:
    paths:
      - 'module05/**'
  pull_request:
    paths:
      - 'module05/**'

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-python@v4
        with:
          python-version: '3.10'
      - name: Install dependencies
        run: pip install -r requirements.txt
      - name: Run Lab 05 tests
        run: pytest module05/tests/ -v
